body{
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.header{
  height: 200px;
  width: 100%;
  margin: 0 auto;
  background-color: lightblue;
  text-align: center;
}

.main{
  height: 500px;
  width: 700px;
  margin:0 auto;
}

#prompt{
  position: relative;
  height: 200px;
  width: 700px;
  text-align: left;
  background-color: white;
  border: 1px solid black;
  margin: -85px auto;
  padding: 5px;
  font-size: 15px;
}

#response{
  position: relative;
  margin: 120px auto;
}

textarea{
  height: 212px;
  width: 712px;
  border: 1px solid black;
  padding: 5px;
  font-size: 15px;
}

.main .buttons{
  width: 250px;
  height: 30px;
  display: inline-block;
  margin: -70 0 0 220px;
}

.main #button{
  width: 120.578px;
  height: 25px;
  position: relative;
}

.main #resetButton{
  width: 120.578px;
  height: 25px;
  padding: 2 6 3 6px;
}

/*This is where the levels start*/
.triangle1 {
  width: 900px;
  height: 900px;

  margin: -105 0 0 20px;

}

.triangle1 .T1R1{
  height: 50px;
  width: 300px;
  background-color: red;
}

.triangle1 .T1R2{
  height: 50px;
  width: 300px;
  background-color: red;

  margin: -105 0 0 0px;
}

.triangle1 .T1R3{
  height: 50px;
  width: 300px;
  background-color: red;

  margin: -105 0 0 0px;
}

.triangle1 .T1R4{
  height: 50px;
  width: 300px;
  background-color: red;

  margin: -105 0 0 0px;
}

.triangle1 .T1R5{
  height: 50px;
  width: 300px;
  background-color: red;

  margin: -105 0 0 0px;
}

.triangle1 .player1{
  height: 50px;
  width: 300px;
  background-color: red;

  margin: -105 0 0 0px;
}

.triangle2 {
  width: 300px;
  height: 300px;

  margin: -900 0 0 1060px;
}

.triangle2 .T2R1{
  height: 50px;
  width: 300px;
  background-color: red;
}

.triangle2 .T2R2{
  height: 50px;
  width: 300px;
  background-color: red;

  margin: -105 0 0 0px;
}

.triangle2 .T2R3{
  height: 50px;
  width: 300px;
  background-color: red;

  margin: -105 0 0 0px;
}

.triangle2 .T2R4{
  height: 50px;
  width: 300px;
  background-color: red;

  margin: -105 0 0 0px;
}

.triangle2 .T2R5{
  height: 50px;
  width: 300px;
  background-color: red;

  margin: -105 0 0 0px;
}

.triangle2 .player2{
  height: 50px;
  width: 300px;
  background-color: red;

  margin: -105 0 0 0px;
}


